# Common
common --enable_platform_specific_config
common --incompatible_strict_action_env
common --toolchain_resolution_debug=all
common --show_timestamps
common --verbose_failures
test --test_output=errors

# Opts
common:linux --config=default_compiler_opts
common:msvc --config=microsoft_compiler_opts

common:default_compiler_opts --copt -std=c++20
common:microsoft_compiler_opts --copt /std:c++20

# BuildBuddy
common:linux --workspace_status_command=$(pwd)/.buildbuddy/workspace_status.sh
common:windows --workspace_status_command=.buildbuddy/workspace_status.bat
