build --enable_platform_specific_config

# Common
common --show_timestamps
build --verbose_failures
test --test_output=errors

# Build
common:linux --copt -std=c++20
common:windows --copt /std:c++20

# BuildBuddy
build:linux --workspace_status_command=$(pwd)/.buildbuddy/workspace_status.sh
build:windows --workspace_status_command=.buildbuddy/workspace_status.bat
build:ci --build_metadata=ROLE=CI

build:bb-rbe --bes_results_url=https://app.buildbuddy.io/invocation/
build:bb-rbe --bes_backend=grpcs://remote.buildbuddy.io
build:bb-rbe --remote_cache=grpcs://remote.buildbuddy.io
build:bb-rbe --remote_timeout=3600
build:bb-rbe --remote_executor=grpcs://remote.buildbuddy.io

