
# Bazel
MODULE.bazel.lock
ProjectCore\bazel-bin
ProjectCore\bazel-out
ProjectCore\bazel-projectcore
ProjectCore\bazel-testlogs

# VS
.vs
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

Makefile
*.make

# VSCode
.vscode

# VSCode
bin
bin-int

# Asset
Asset
